{% extends 'base.html.twig' %}

{% block title %}Game Gourmet{% endblock %}

{% block body %}
   <a href="/prato" class="btn btn-info" role="button">
     <h1 class="display-1">Acertei !!!</h1>
     <h4 class="display-4">Clique para reiniciar</h4>
   </a>    
{% endblock %}
